DATABASE_URL=postgresql://primebrick:primebrick_dev@127.0.0.1:5432/primebrick
DB_SCHEMA=emailsender
NATS_URL=nats://127.0.0.1:4222
BREVO_API_KEY=your_brevo_api_key_here
BREVO_API_ENDPOINT=https://api.brevo.com/v1
SERVICE_CODE=EMAILSENDER
SERVICE_BASE_URL=http://localhost:3003
WEBHOOK_API_KEY=your_webhook_api_key_here
